.results {
    .matches {
        .workitem {
            > * {
                margin: 0 5px 0 0;
            }
            .id {
                font-weight: bold;
            }
            .dup-bug-action {
                height: 16px;
            }
        }
    }
    .no-results {
        font-style: italic;
    }
}
