.results {
    .matches {
        .workitem {
            > * {
                margin: 0 5px 0 0;
            }
            .id {
                font-weight: bold;
            }
            .dup-bug-action {
                height: 18px;
                padding: 1px;
                border: none;
                margin: 0;
                &:hover,&:focus {
                    padding: 0px;
                    border: 1px solid skyblue;
                }
                &:active {
                    padding: 0px;
                    border: 1px solid black;
                }
                img {
                    height: 13px;
                }
            }
        }
    }
    .no-results {
        font-style: italic;
    }
}
